tqdm
numpy
pytorch
tensorboard
git+https://github.com/experimaestro/datamaestro
git+https://github.com/experimaestro/datamaestro_text
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm

